/* #DADFE7 */
/* *{
    font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
} */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
  }

  .hh{
    width:100%;text-align:right;margin-left:0;
    margin-top: 25px;
  }

 .maR{
    margin-top: 50%;
    margin-left: 45%;
    margin-bottom: 50%;
 }
.numW{
    width: 200px;
}
.bgMost{
    background-color: #4249E5;
    width: fit-content;
    margin-top: -60px;
    margin-left: 50px;
    
}

.marUp{
    margin-top: -40px;
}
.edit{
    margin-left: -40px;
}
.marRS{
    /* margin-left: 160px; */
    margin-right: -100px;
    z-index: 1;
}

.baseImg{
    position: absolute;
    width: 600px;
    margin-left: -300px;
}

.zindex{
    background-color: white;
    z-index: 2;
}
.lIndex{
z-index: -1;
}

#hideS{
    display: none;
}




.textCol{
    color: #cdd9e8;
}

.jetty{
    color: #00BEC7;
}

.themeColor{
    color: #4249E5;
}

.essP{
    margin-top:-5px;
}

.month{
    margin-top: -25px;
}

.monP{
    font-size: 14px;
}
.monpp{
    font-size: 13px; 
    margin-left: -30px;
}

.textChoose{
    font-size: 25px;
}


.textSpan{ font-size: 20px; }



.marB{
    margin-bottom: 20px;
    /* margin-left: -150px; */
}

.line{
    width: 50px;
    border-bottom: solid 1px;
    margin-top: -100px;
}

.left-line{
    height: 2px;
    width: 50px;
    margin-top: 8px;
    background-color: #cdd9e8;
}
.right-line{
    height: 2px;
    width: 50px;
    margin-top: 8px;
    background-color: #cdd9e8;
}
  
.boldF{
    font-weight: 900;
    font-size: 65px;
    /* margin-left: -250px; */
    z-index: -1;
}
.cal{
    color: #4249E5;
    margin-left: -30px;
}

.start{
    margin-right: -50px;
    z-index: 1;
}
.marLS{
    margin-right: -60px;
    z-index: 1;
}

.transCom{
    margin-left: -250px;
}

.inputWidth{
    width: 250px;
}

.custom{
    width: 300px;
}


.btnBg{
background-color: #4249E5;
}

.btnW{
    width: 290px;
}

#backG{
    width: 100vw;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}


/* media query  */


/* @media screen and (width: 480px) {
    #backG {
      overflow: visible;
      overflow-y: scroll;
    }
  } */